html{
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000;
}

body {
  font-family: monospace;
}
body a{
  white-space: normal;
  overflow-wrap: break-word;
}
body p{
  white-space: normal;
  word-break: normal;
}


.project-details{
  margin: 16px 0;
  white-space: normal; 
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.project-details:hover summary{
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), transparent 80%);
}
.project-details img{
  width: 250px;
}
.project-details p:first-child{
  margin-top: 0;
}
.project-body{
  background-color: rgba(0, 0, 0, 0.0);
  border-bottom: solid black 1px;
}


@media only screen and (max-width: 500px) {
  .text-list{
    padding-left: 20px;
  }
}

/*
 *      Auto Scroll
 */
.auto-scroll-container {
    overflow: hidden;
    white-space: nowrap;
}

.auto-scroll-container .auto-scroll-content {
    position: relative;
}


/*
 *      Main Block
 */
.main-block{
  max-width: 1000px;
  flex: 1 1 100%; 
  position: relative; 
  inset: 0; 
  padding: 10px; 
  margin: 0 10%; 
  overflow: hidden;
}
.main-block::before {
    --solid-x: 150px;
    --solid-y: 150px;
    --border-style: solid;
    --highlight-color: rgb(128, 128, 128);
    --global-border-gap: 5px;
    --global-border-width: 3px;
    /*#9ba2b8;*/

    content: "";
    position: absolute;
    inset: 0;
    border: var(--global-border-width) var(--highlight-color) var(--border-style);
    /*background-image: linear-gradient(in hsl to bottom right, magenta 5%, cyan, magenta 95%);*/
    
    clip-path: border-box polygon(0 0, 0 100%, var(--global-border-width) var(--solid-y), var(--global-border-width) var(--global-border-width),
      var(--solid-x) var(--global-border-width), 100% 0,
      calc(100% - var(--global-border-width)) calc(100% - var(--solid-y)), calc(100% - var(--global-border-width)) calc(100% - var(--global-border-width)),
      calc(100% - var(--solid-x)) calc(100% - var(--global-border-width)), 0 100%, 100% 100%, 100% 0);
}
@media only screen and (max-width: 500px) {
  .main-block {
    margin: 0 20px;
  }
}

.main-content{
    background-color: rgb(227, 228, 236); 
    box-shadow: rgb(227, 228, 236) 0 0 3px 3px; 
    width: 100%; 
    height: 100%; 
    overflow-x: hidden;
    overflow-y: auto; 
    position: relative; 
    top: 0;
    display: flex; 
    flex-direction: column;
}

.main-content h2, .main-content h3{
  font-weight: normal;
  margin: 16px 5px;
  border: none;
  border-bottom: 2px solid grey;
  border-image: linear-gradient(90deg, grey, transparent 90%) 1;
} 


.slide-list{
  position: absolute; 
  bottom: 10%; 
  top: 10%; 
  left: 0; 
  right: 0; 
  white-space: nowrap;
}
@media only screen and (max-width: 500px) {
  .slide-list{
    bottom: 4%; 
  }
}
.slide-element{
  display: inline-block;
  position: absolute; 
  left: 0;
  width: 100%; 
  height: 100%; 
  transform: translateX(0) scaleY(1);
  visibility: visible;
  pointer-events: auto;
  transition: transform 0.5s ease-out, visibility 0.5s;
}
.slide-left{
  transform: translateX(-100%) scaleY(0);
  visibility: hidden;
  pointer-events: none;
}
.slide-right{
  transform: translateX(100%) scaleY(0);
  visibility: hidden;
  pointer-events: none;
}


.button{
  font-size: 1rem;
  font-family: monospace;
  width: 10ch;
  padding: 2px;
}
.nav-button{
  display: inline-block;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: monospace;
  width: 10ch;
  padding: 2px;
  background-color: rgb(227, 228, 236);
  border: 1px outset rgb(128, 128, 128);
  border-radius: 3px;
  color: rgb(0, 0, 0);
  padding: 3px;
  text-decoration: none;
}
.nav-button:hover{
  background-color: rgb(217, 218, 226);
}
.nav-button:active{
  background-color: rgb(247, 248, 246);
}


.display-toggle{
  appearance: none;
  width: 0;
  height: 0;
}
.display-toggle-lable{
  position:absolute; 
  right: 15px; 
  top: 15px; 
  height: 50px; 
  width: 50px;
  border-radius: 50%;
  background-color: rgb(239, 239, 239);
  border: 1px solid grey;
}
.display-toggle-lable:hover{
  background-color: lightgrey;
}
.display-toggle-lable:has(.display-toggle:checked){
  background-color: yellow;
}


.noise{
  filter: url("#noiseFilter") contrast(2);
  mix-blend-mode:soft-light;
}



.arch-bg{
  --color-fade: 0.9;
  background:
    radial-gradient(140% 110% at 60% 80%, 
      transparent 49%, 
      rgba(255, 255, 255, calc(var(--color-fade) - 0.3)) 49.7%, transparent 49.8%, 
      rgba(255, 255, 255, var(--color-fade)) 50.5%, transparent 50.9%,
      rgba(255, 255, 255, calc(var(--color-fade) - 0.5)) 51.5%, transparent 53.9%,
      rgba(255, 255, 255, calc(var(--color-fade) - 0.2)) 54.5%, transparent 55.4%,
      transparent 56%);
}
.gradient-bg{
  background: linear-gradient(15deg, 
  #f3e78b 0%, pink 16.66%, lavenderblush 49.98%, lavender 66.64%, cornflowerblue 99.96%);
}
.gradient-bg-lower{
  background: linear-gradient(165deg, 
  #f3e78b 0%, pink 16.66%, lavenderblush 49.98%, lavender 66.64%, cornflowerblue 99.96%);
}
.gradient-bg-lower::before{
  content: " ";
  position: absolute;
  width: 250%;
  height: 250%;
  left: -75%;
  top: -75%;
  transform: perspective(1000px) rotateX(80deg) translateZ(-150px) translateY(-10%);
  background:
  repeating-linear-gradient(90deg, 
  transparent 0, rgba(255, 0, 255, 0.5) 2px, rgba(0, 255, 255, 0.75) 3px, transparent 5px, transparent 50px),
  repeating-linear-gradient(180deg, 
  transparent 0, rgba(255, 0, 255, 0.5) 2px, rgba(0, 255, 255, 0.75) 3px, transparent 5px, transparent 50px),
  linear-gradient(transparent, lavender);
}

#bg-layer:has(.display-toggle:checked) .gradient-bg{
  background: linear-gradient(transparent), 
  radial-gradient(70% 30% at 50% 40%, purple 0%, transparent 80%), 
  radial-gradient(80% 50% at 50% 40%, midnightblue 20%, black 100%);
}
#bg-layer:has(.display-toggle:checked) .gradient-bg-lower{
  background: linear-gradient(black, midnightblue 40%);
}
#bg-layer:has(.display-toggle:checked) .gradient-bg-lower::before{
  background: 
  linear-gradient(midnightblue 0%, transparent 50%), 
  repeating-linear-gradient(90deg, 
  transparent 0, rgba(0, 255, 255, 0.5) 2px, rgba(255, 0, 255, 0.75) 3px, transparent 5px, transparent 50px),
  repeating-linear-gradient(180deg, 
  transparent 0, rgba(0, 255, 255, 0.5) 2px, rgba(255, 0, 255, 0.75) 3px, transparent 5px, transparent 50px),
  linear-gradient(transparent 60%, navy);
}


#filters{
  display: none;
}
@-moz-document url-prefix() {
  #filters{
    display: block;
    position: absolute;
    height: 0;
    width: 0;
  }
}


.main-cloud {
  position: absolute;
  top: 29%;
  left: 5%;
  width: 90%;
  height: 200px;
}
@media only screen and (max-width: 500px) {
  .main-cloud {
    top: 31%;
    height: 155px;
  }
}
.cloud::before{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -400px;
  left: -400px;
  border-radius: 40%;
  filter: url(#cloud-filter);
  box-shadow:
    400px 440px 30px -90px rgba(0, 0, 0, 0.08),
    400px 420px 40px -50px rgba(66, 105, 146, 0.1),
    400px 410px 30px -15px rgba(215, 215, 215, 0.2),
    400px 400px 15px -0px rgba(255, 255, 255, 0.9),
    400px 400px 25px 5px lavenderblush,
    400px 400px 40px 10px rgba(0, 0, 0, 0.1);
}


:root {
  --crt-red: rgb(218, 49, 49);
  --crt-green: rgb(112, 159, 115);
  --crt-blue: rgb(40, 129, 206);
}

.crt3::after{
  content: " ";
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: overlay;
  background: 
  repeating-linear-gradient(-90deg,
    var(--crt-red) 0px,
    var(--crt-red) 1px,
    var(--crt-green) 1px,
    var(--crt-green) 2px,
    var(--crt-blue) 2px,
    var(--crt-blue) 3px,
    rgba(0, 0, 0, 0.25) 3px,
    rgba(0, 0, 0, 0.25) 4px);
}

