<details class="project-details" name="${entryGroup}" data-tags="${tags}" data-original-index="${entryIndex}">
    <summary>${title}</summary>
    <div class="project-body">
        ${imgSrc ? `<img style="height: 180px; background-color: #00000042;" src="${imgSrc}" alt="${imgDes}" loading="lazy"><br>` : ''}
        ${link ? `<a href="${link}" aria-label="Project Link">${link}</a>` : ''}
        ${description ? description : ''}
        ${tags ? `<p name="tags">tags: ${tags}</p>` : ''}
    </div>
</details>