<details class="entry project-details" name="projects" data-tags="${tags}" data-original-index="${entryIndex}">
    <summary>
        <h3 class="project-title">${title}</h3>
        <div class="project-intro">
            <p name="tags">tags: ${tags}</p>
        </div>
    </summary>
    <div class="project-body">
        ${body}
        <p name="tags">tags: ${tags}</p>
        <input type="button" value="minimize" onclick="this.parentElement.parentElement.removeAttribute('open')"/>
    </div>
</details>